Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. SQL
4. SCALA
5. C++
6. JAVA
7. GO
8. RUBY

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. seaborn
5. Scikit-learn
6. Keras
7. TensoreFlow
8. PyTorch
9. Apache Spark
10. Ggplot2

Data Science Tools |
----------|
Anaconda|
Jupyter Notebooks|
R Studio|
Spyder|
Zeppelin|

Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

# Objects
- Pyhton
- R
- SQL
- C++
- JAVA

# Author